interactions:
- request:
    body:
      string: '{"type": "subAccounts", "user": "0x1234567890123456789012345678901234567890"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '[{"name":"SubAccount1","address":"0x1111111111111111111111111111111111111111","permissions":["trade","transfer"],"created":1640995200000},{"name":"SubAccount2","address":"0x2222222222222222222222222222222222222222","permissions":["trade"],"created":1641081600000}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
