interactions:
- request:
    body:
      string: '{"type": "userFees", "user": "0x1234567890123456789012345678901234567890"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"activeReferralDiscount":"0.0","dailyUserVlm":[],"feeSchedule":{"add":"0.0002","cross":"0.0005","referralDiscount":"0.0","tiers":{"mm":[],"vip":[]}},"userAddRate":"0.0002","userCrossRate":"0.0005"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
