interactions:
- request:
    body:
      string: '{"type": "allMids"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"BTC": "43250.5", "ETH": "2680.25", "SOL": "98.75", "ARB": "1.22965", "ATOM": "11.2585", "AVAX": "18.3695", "DOGE": "0.08234", "LTC": "72.45", "MATIC": "0.8456", "DOT": "6.789", "ADA": "0.4567", "LINK": "14.567", "UNI": "6.234", "AAVE": "89.123", "SUSHI": "1.234"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
