interactions:
- request:
    body:
      string: '{"type": "referral", "user": "0x1234567890123456789012345678901234567890"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"state":"active","code":"ABC123","referredBy":null,"totalReferred":0,"referralDiscount":"0.0","totalReferralRewards":"0.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
